<% include header %>
<% if (user) { %>
    Logged in as <b><%= user.username %></b>. <a href="/logout">Logout</a>
<% } else { %>
    Not logged in. <a href="/login">Login</a>
<% } %>
<% include footer %>
