<% include header %>
<form action="/login" method="post">
    <input placeholder="Username" type="text" value="bob" name="username">
    <input placeholder="Password" type="password" value="secret" name="password">
    <input type="submit" value="Login">
</form>
<% include footer %>
