<% include header %>
<h2>Login</h2>
<form action="/login" method="post">
    <p>
        <input placeholder="Username" type="text" value="bob@example.com" name="username">
        <input placeholder="Password" type="password" value="secret" name="password">
    </p>
    <p><input type="submit" value="Login"></p>
</form>
<% include footer %>
